@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HANNAH</h1>
    <p >Kangwon National University/Electronic Communication Engineering</p>
    <p><a href="https://github.com/KIM-jihye" class="btn btn-primary btn-lg">github&raquo;</a></p>
</div>

<div class="row">
    <div class="row-md-4">
        <h2>ABOUT</h2>
        <p>
            Personal information
        </p>
        <p><a class="btn btn-default" href="http://localhost:55418/P_Information/index">Learn more &raquo;</a></p>
    </div>
    <div class="row-md-4">
        <h2>COURSE</h2>
        <p>subjet in the course</p>
        <p><a class="btn btn-default" href="http://localhost:55418/courses/index">Learn more &raquo;</a></p>
    </div>
    <div class="row-md-4">
        <h2>PROJECT</h2>
        <p>03.2018 - 11.2018 Industry Information Communication Laboratory (Kanwon National University)</p>
        <p><a class="btn btn-default" href="http://localhost:55418/projects/index">Learn more &raquo;</a></p>
    </div>
</div>